@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--swiper-pagination-top: var(--swiper-pagination-top);
	--swiper-pagination-bottom: 50px;
	--swiper-pagination-color: #d61c22;
	--swiper-pagination-bullet-size: 14px;
	--swiper-pagination-bullet-width: 14px;
	--swiper-pagination-bullet-height: 14px;
	--swiper-pagination-bullet-inactive-color: #919999;
	--swiper-pagination-bullet-inactive-opacity: 0.5;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 4px;
	--swiper-pagination-bullet-vertical-gap: 6px;
}

@layer base {
	body {
		@apply font-secondary text-base text-secondary;
	}

	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		@apply text-primary;
	}

	.h1 {
		@apply font-primary text-[45px] xl:text-[90px] leading-none;
	}
	.h2 {
		@apply text-[36px] tracking-[-0.02em] leading-[44px] font-semibold;
	}
	.h3 {
		@apply text-[20px] font-semibold;
	}
	.lead {
		@apply text-xl;
	}
	.btn {
		@apply rounded-lg h-12 py-3 px-5;
	}

	.btn-accent {
		@apply bg-accent hover:bg-accent-hover text-white;
	}
	.btn-slider {
		@apply bg-black/50 hover:bg-accent-hover/50 text-white flex justify-center items-center rounded-full;
	}
}
